*{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	height: 100%;
}

#left{
	width: 14%;
	height: 100%;
	background-color: #3955A3;
	display: inline-block;
	margin: 0;
	float: left;
}
#right1{
	width: 86%;
	height: 10%; 
	background-color: #F1F1F1;
	display: inline-block;
	margin: 0;
	/*position: fixed;*/
	float: left;
	border-bottom: #F5F5F5 solid 4px;
}
#right2{
	width: 86%;
	height: 90%;
	background-color: #F1F1F1;
	display: inline-block;
	margin: 0;
	/*position: fixed;*/
	float: left;
}
#left_header{
	margin-top: 60px;
}
#left_header span{
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	padding-left: 77px;
}
#span1{
	letter-spacing: 20px;
}
#span2{
	letter-spacing: 47px;
}
#left_body{
	margin-top: 60px;
	
}
.menu{
	width: 100%;
}
.menu p{
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	width: 100%;
	border-radius: 4px;
	padding-left: 25px;
}
.menu ul{
	margin: 20px 0;
}
.menu ul li{
	list-style-type: none;
	margin: 20px 0;
	margin-left: 125px;
	padding-left: 4px;
	color: #fff;
	font-size: 18px;
	display: none;
}
.menu ul li a{
	color: #fff;
	text-decoration: none;
}
.menu ul li:hover{
	background-color: #192D64;
	cursor: pointer;
	border-radius: 5px;
}
.menu span:hover{
	background-color: #192D64;
}
#menu_right{
	float: right;
	margin-top: 4px;
}
#right1_body{
	margin-top: 32px;
	margin-left: 76%;
	display: inline-block;
}
#logout{
	font-size: 25px;
	float: right;
	margin-top: 32px;
	margin-right: 55px;
}
#logout span{
	cursor: pointer;
}
#logout span:hover{
	color: #46B8DA;
}
#time{
	font-size: 25px;
	float: left;
	width: 26px;
	height: 31px;
	/* margin-top: 16px;
	margin-left: 83px; */
	margin-top: 32px;
	margin-left: 73px;
}

p {
  margin: 0;
  padding: 0;
}
#clock {
	width: 200px;
	position: relative;
	left: 90px;
	bottom: 21px;
	font-family: 'Share Tech Mono', monospace;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #000;
}
#clock .time {
  letter-spacing: 0.05em;
  font-size: 26px;
}